.pure-u-1.articles
  .pure-u-1-3.articles-item
    img.articles__image(src="http://lorempixel.com/200/200/cats/", width="200", height="200")
    span.articles__title Este es un titulo
    p.articles__text Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo 
  .pure-u-1-3.articles-item
    img.articles__image(src="http://lorempixel.com/200/200/cats/", width="200", height="200")
    span.articles__title Este es un titulo
    p.articles__text Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo 
  .pure-u-1-3.articles-item
    img.articles__image(src="http://lorempixel.com/200/200/cats/", width="200", height="200")
    span.articles__title Este es un titulo
    p.articles__text Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo 
  .pure-u-1-3.articles-item
    img.articles__image(src="http://lorempixel.com/200/200/cats/", width="200", height="200")
    span.articles__title Este es un titulo
    p.articles__text Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo 
  .pure-u-1-3.articles-item
    img.articles__image(src="http://lorempixel.com/200/200/cats/", width="200", height="200")
    span.articles__title Este es un titulo
    p.articles__text Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo 
  .pure-u-1-3.articles-item
    img.articles__image(src="http://lorempixel.com/200/200/cats/", width="200", height="200")
    span.articles__title Este es un titulo
    p.articles__text Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo Este es un parrafo 
