div#filters.filters
  span.filters__title Búsquedas guardadas
  ul.filters__list.js_stored_filters_container
div
  span.filters__title Categorías
  ul.filters__list
    li.filters__item 
      a.filters__link(href="javascript:;") Todos
    li.filters__item 
      a.filters__link(href="javascript:;") Terror
    li.filters__item 
      a.filters__link(href="javascript:;") Comedia
    li.filters__item 
      a.filters__link(href="javascript:;") Drama      
div
  span.filters__title Idioma
  ul.filters__list
    li.filters__item 
      a.filters__link(href="javascript:;") Todos
    li.filters__item 
      a.filters__link(href="javascript:;") Inglés
    li.filters__item 
      a.filters__link(href="javascript:;") Español
    li.filters__item 
      a.filters__link(href="javascript:;") Portugués
div
  span.filters__title Publicación
  ul.filters__list
    li.filters__item 
      a.filters__link(href="javascript:;") Todos
    li.filters__item 
      a.filters__link(href="javascript:;") Hoy
    li.filters__item 
      a.filters__link(href="javascript:;") Hace una semana
    li.filters__item 
      a.filters__link(href="javascript:;") Hace un mes
    li.filters__item 
      a.filters__link(href="javascript:;") Hace un año
div
  span.filters__title Presentación
  ul.filters__list
    li.filters__item 
      a.filters__link(href="javascript:;") Impreso
    li.filters__item 
      a.filters__link(href="javascript:;") Digital
    li.filters__item 
      a.filters__link(href="javascript:;") Impreso y Digital      