form.search-form.pure-form
  fieldset.search-form__item
    input.search-form__text(type="text", name="search")
    button.search-form__button Buscar
    a.search-form__save(href="javascript:;") Guardar Búsqueda