form.search-form.pure-form
  fieldset.search-form__item
    input#txtAutocomplete.search-form__text.js_txt_search(type="text", name="search")
    button.search-form__button.search-form__button--disabled.js_btn_search(disabled) Buscar
    a.search-form__save(href="javascript:;") Guardar Búsqueda
