form.search-form
  fieldset.search-form--fieldset
    input#txtAutocomplete.search-form__text.js_txt_search(type="text", name="search")
    textarea.search-form__textarea.search-form__textarea--hide.js_textarea_search
    button.search-form__button.search-form__button--disabled.js_btn_search(disabled) Buscar
    a.search-form__save(href="javascript:;") Guardar Búsqueda
